<section class="container">
  <div class="user-header"> 
    <div class="user-icon">
      <i class="fa fa-user"></i>
    </div>
    <div class="user_name">
      <h1><%=@user.name%>
    </div>
    <p>Total posts: <%= @user.postscounter ?  @user.postscounter : 0   %></p>
      <div class="btn_create_post">
        <%= link_to "View all posts", user_posts_path(@user.id), class: "btn_post_new" %>
     </div>
  </div>
  <div class="user_bio">
    <h3>Bio</h3>
    <%=@user.bio%>
  </div>
  <% @user.most_recent_posts.each_with_index do |post, index| %>
      <%=link_to user_posts_path(@user.id) do %>
        <div class="user_post">
            <div>
              <h3>Post #<%=index+1%>: <%= post.title %></h3>
              <p><%= post.text %></p>
            </div>
              <h4><span>Comment <%= post.commentscounter %></span> <span>|</span> <span>Likes <%= post.likescounter %></span></h4>
        </div>
        <% end %>
    <% end %>
</section>