<section class="grid__container">
  <div class="card">
    <img src= '<%= @users.photo %>' alt="user image" width="100" height="100" />
    <div>
      <h3><%= @users.name %></h3>
      <p>Number of posts:  <%= @users.posts_counters %></p>
    </div>
  </div>

  <div class="card__posts_comments">
    <ul>
      <% @posts = Post.where(user_id: @users.id) %> 
        <% @posts.each do |post| %>
        <li class="users_name">
          <a href="/users/<%= @users.id %>/posts/<%= post.id %>">
            <h3>Post #<%= post[:id] %> <br /></h3>
            <p> <%= post[:text] %> </p>
            <p class="comments__likes_counter">Comments: <%= post[:comments_counter] %> &nbsp; Likes: <%= post[:likes_counter] %> </p>`
            <ul>
            <% post.five_recent_comments.each do |comment| %>
              <li>
                <h5> <%= comment.author.name%>: <%= comment.text%> </h5>
              </li>
            <%end%>
          </ul>
            </li>
        <% end %>

        
    </ul>
  </div>
</section>
