<section class="container">
<div class="single-header">
  <div class="single-post-header">
    <p>Post by: <%=@user.name%></p>
    <h4><span>Comment <%= @post.commentscounter %></span> <span>|</span> <span>Likes <%= @post.likescounter %></span></h4>
  </div>
  <div class ="single-post-body">
    <h4><%=@post.title%></h4>
    <p><%=@post.text%></p>
  </div>
  </div>
  <div class = "single-post-comments">
    <% @comments.each do |comment|%>
      <div>
        <p><%= comment.user.name %>: <%=comment.Text%></p>
      </div>
      <%end%>
  </div>
     <div class="post_details_likes">
        <%= render "posts/like_form" %>
      </div>
      <div class="post_details_comments">
        <%= render "posts/comment_form" %>
      </div>
</section>