<section class="grid__container">
  <div class="card__posts_by_id">
    <div>
        <span class="left">Post #<%= @posts[:id] %>  by <%= @posts.author.name %> &nbsp; &nbsp;  <span class="right">Comments:<%= @posts[:comments_counter] %> Likes: <%= @posts[:likes_counter] %></span></span>  
    </div>
  </div> 
  <ul class="card__post_by_id_comments">
    <% @posts.comments.each do |comment| %>
      <li>
        <h5> <%= comment.author.name %>: <%= comment.text %></h5>
      </li>
    <% end %>
  </ul>
</section>


