<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SocialApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

  <div class="navbar" id="navbarSupportedContent">
   <ul class="navbar-nav mr-auto">
      <li>WELCOME !!!</li>
    </ul>
  <%if user_signed_in?%>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
         <%= link_to "All users", root_path%>
      </li>
      <li class="nav-item">
        <%= link_to "Edit account", edit_user_registration_path%>
      </li>
    </ul>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        <%= link_to "logout", destroy_user_session_path%>
      </button>
      <%end%>
  </div>
</nav>
      <%= yield %>
    </main>
  </body>
</html>
